<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>655165712818-8en1lf81cbp4o052b13kg00cm9q3o0ga.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.655165712818-8en1lf81cbp4o052b13kg00cm9q3o0ga</string>
	<key>API_KEY</key>
	<string>AIzaSyCo4HWXChPNaFYP6-p4DfxYaZU4T5UmQAE</string>
	<key>GCM_SENDER_ID</key>
	<string>655165712818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chaserobbins.Micro</string>
	<key>PROJECT_ID</key>
	<string>micro-app-9a6d7</string>
	<key>STORAGE_BUCKET</key>
	<string>micro-app-9a6d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655165712818:ios:a5bdc8e98ed0c274e29cab</string>
	<key>DATABASE_URL</key>
	<string>https://micro-app-9a6d7.firebaseio.com</string>
</dict>
</plist>